@import "tailwindcss";

@font-face {
  font-family: 'SF Pro Rounded';
  src: local('SF Pro Rounded'), local('-apple-system'), local('BlinkMacSystemFont');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
